$headColor: #ffffff;
$hoverColor: #000000;

*{
    padding: 0;
    margin: 0;
}
.background {
    background-color: #afafaf;
    width: 100%;
}
.theme {
    padding-left: 64px;
    padding-top: 64px;
    padding-bottom: 32px;

    p {
    color: $headColor;
    font-weight: bold;
    }
    
    a {
    text-decoration: none;
    color:  $headColor;
    font-weight: bold;
    }
}

.layout {
    margin-left: 64px;
}

.menu {
    width: 100%;
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 80px;
}

.menu_item {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    
    a {
        margin: 0;
        display: inline-block;
    }

    p {
        color: $hoverColor;
        font-weight: bold;
        display: inline-block;
    }
}

.black {
    color: $hoverColor;
    font-weight: bold;
}
.color {
    text-decoration: none;
    color:  $headColor;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.5s ease;

    &:hover {
        text-decoration: none;
        color: $hoverColor;
        font-weight: bold;
    }
}
.copyright-a {
    height: 100px;
    display: flex;
    align-items: center;
}
.copyright-t {
    font-size: 8px;
    color: #000000;
}
