$headColor: #cc4c4c;
$hoverColor: #ff0000;

*{
    padding: 0;
    margin: 0;
}
.background {
    background-color: rgb(230, 230, 211);
    width: 100%;
}
.layout {
    margin-left: 60px;
}

.menu {
    width: 100%;
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.menu_item {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    
    a {
        margin: 0;
        display: inline-block;
    }

    p {
        color: $headColor;
        font-weight: bold;
        display: inline-block;
    }
}

.red {
    color: $headColor;
    font-weight: bold;
}
.color {
    text-decoration: none;
    color:  $headColor;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.5s ease;

    &:hover {
        text-decoration: none;
        color: $hoverColor;
        font-weight: bold;
    }
}
.copyright-a {
    height: 100px;
    display: flex;
    align-items: center;
}
.copyright-t {
    font-size: 11px;
    color: #000000;
}
h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}
